.dom__img {
  margin: 0 auto;
  display: block;
  padding-bottom: 30px;
}

.dom__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 30px;
}

.dom__text-end {
  margin-bottom: 0;
}
