.indent__img {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.indent__list {
  margin-bottom: 92px;
}

.indent__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 30px;
}

.indent__item:last-child {
  margin-bottom: 0;
}

.indent__img-padding {
  float: right;
}

.indent__item-padding {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 30px;
}

.indent__item-padding:last-child {
  margin-bottom: 0;
}
